BODY {
	FONT-SIZE: 11.5pt; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #666666; LINE-HEIGHT: 12pt; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #ffffff; FONT-FAMILY: Arial; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; table: 9pt; SCROLLBAR-SHADOW-COLO: #666666 
font-family: "Geneva", "Arial", "Helvetica", "san-serif"
}
TD {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 14pt
}
TR {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 14pt
}
TABLE {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 14pt
}
FORM {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 14pt
}
INPUT {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 14pt
}
.stedit {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "Verdana", "Arial",
}
.p_c1 {
	COLOR: #000000
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #663300; TEXT-DECORATION: underline
}
INPUT.buttonface {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; BACKGROUND: #9999cc; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "Song", "Tahoma", "MS Shell Dlg"; HEIGHT: 18px; onMouseOut: "this.style.backgroundColor#f3f3f3 onMouseOverthis.style.backgroundColor#000000"
}
.editbox1 {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; CURSOR: text; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "Song","Tahoma","MS Shell Dlg"; HEIGHT: 16px; BACKGROUND-COLOR: #9999cc
}
.editbox2 {
	BACKGROUND-COLOR: #cccccc
}
INPUT.smallInput {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; CURSOR: text; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "Song","Tahoma","MS Shell Dlg"; HEIGHT: 18px; BACKGROUND-COLOR: #9999cc
}
SELECT.smallsel {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT: 9pt "Arial", "Tahoma", "sans-serif"; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 18px
}
.TextBorder {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; CURSOR: text; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "Song","Tahoma","MS Shell Dlg"; BACKGROUND-COLOR: #ffffff
}
