@charset "big5";
/* CSS Document */

#unitip {position: absolute;z-index: 1000;top: -1000px;color: #ffffff;font: normal normal 12px Verdana, Arial, Helvetica, sans-serif;display: none; line-height:16px;}
#unitip div.inside{text-align=left; padding-left:15px;}
#unitippoint, #unitipmid, #unitipcap {position:relative;top:0px;left:0px;width:345px;display:block;}
#unitippoint {background: url(http://weshin.ek21.com/TipPoint2.png) no-repeat;_background: url(http://weshin.ek21.com/TipPoint.gif) no-repeat;_opacity: 0.9;_filter: alpha(opacity = 90);height:19px;overflow: hidden;}
#unitipmid {background: url(http://weshin.ek21.com/TipMid.png) repeat; _background: url(http://weshin.ek21.com/TipMid.gif) repeat;_opacity: 0.9;_filter: alpha(opacity = 90);width:345px;height:auto; text-align:center;}
#unitipcap {background: url(http://weshin.ek21.com/TipCap2.png) no-repeat;_background: url(http://weshin.ek21.com/TipCap.gif) no-repeat;_opacity: 0.9;_filter: alpha(opacity = 90);height:7px;overflow:hidden;}

