BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: "§ºÊ^", Arial;
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
}
LI {
	COLOR: #333333; LIST-STYLE-TYPE: lower-roman;
}
A:link {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none;
}
A:visited {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none;
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: underline;
}
A:active {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none;
}
A.white_12:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline;
}
A.white_12:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none;
}
A.white_12:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline;
}
A.white_12:active {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none;
}
A.white_12bold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline;
}
A.white_12bold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none;
}
A.white_12bold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline;
}
A.white_12bold:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none;
}
A.black_14bold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none;
}
A.black_14bold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none;
}
A.black_14bold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; TEXT-DECORATION: underline;
}
A.black_14bold:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none;
}
A.black_12_line:link {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: underline;
}
A.black_12_line:visited {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: underline;
}
A.black_12_line:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: underline;
}
A.black_12_line:active {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: underline;
}
A.black14_666666:link {
	FONT-SIZE: 14px; COLOR: #666666; TEXT-DECORATION: none;
}
A.black14_666666:visited {
	FONT-SIZE: 14px; COLOR: #666666; TEXT-DECORATION: none;
}
A.black14_666666:hover {
	FONT-SIZE: 14px; COLOR: #ff6600; TEXT-DECORATION: underline;
}
A.black14_666666:active {
	FONT-SIZE: 14px; COLOR: #666666; TEXT-DECORATION: none;
}
A.FF6600_12:link {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none;
}
A.FF6600_12:visited {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none;
}
A.FF6600_12:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline;
}
A.FF6600_12:active {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none;
}
A.FF6600_12_line:link {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: underline;
}
A.FF6600_12_line:visited {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: underline;
}
A.FF6600_12_line:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline;
}
A.FF6600_12_line:active {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: underline;
}
A.green_12_line:link {
	FONT-SIZE: 12px; COLOR: #009900; TEXT-DECORATION: underline;
}
A.green_12_line:visited {
	FONT-SIZE: 12px; COLOR: #009900; TEXT-DECORATION: underline;
}
A.green_12_line:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: underline;
}
A.green_12_line:active {
	FONT-SIZE: 12px; COLOR: #009900; TEXT-DECORATION: underline;
}
A.green_12:link {
	FONT-SIZE: 12px; COLOR: #009900; TEXT-DECORATION: none;
}
A.green_12:visited {
	FONT-SIZE: 12px; COLOR: #009900; TEXT-DECORATION: none;
}
A.green_12:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: underline;
}
A.green_12:active {
	FONT-SIZE: 12px; COLOR: #009900; TEXT-DECORATION: none;
}
.lineheight25 {
	LINE-HEIGHT: 26px;
}
.lineheight24 {
	LINE-HEIGHT: 24px;
}
.lineheight21 {
	LINE-HEIGHT: 21px;
}
.lineheight20 {
	LINE-HEIGHT: 20px;
}
.lineheight18 {
	LINE-HEIGHT: 18px;
}
.font_white_12 {
	FONT-SIZE: 12px; COLOR: #ffffff;
}
.font_white_12bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff;
}
.font_white_14bold {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff;
}
.font_black_14bold {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; PADDING-TOP: 5px;
}
.font_black_12bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333;
}
.font_black_12 {
	FONT-SIZE: 12px; COLOR: #000000;
}
.font_666666_12bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 24px;
}
.font_666666_12 {
	FONT-SIZE: 12px; COLOR: #666666;
}
.font_ff6600_12 {
	FONT-SIZE: 12px; COLOR: #ff6600;
}
.index_1 {
	MARGIN-TOP: 5px; WIDTH: 960px; BORDER-BOTTOM: #cccccc 1px solid;
}
.index_1_1 {
	BORDER-RIGHT: #cccccc 1px solid; FLOAT: left; WIDTH: 159px; PADDING-TOP: 10px; HEIGHT: 135px; TEXT-ALIGN: center;
}
.index_1_2 {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 790px;
}
.index_a {
	MARGIN-TOP: 10px; WIDTH: 960px;
}
.index_a1 {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/bg_02.gif); WIDTH: 89px; PADDING-TOP: 8px; HEIGHT: 29px;
}
.index_a2 {
	FLOAT: left; BACKGROUND-IMAGE: url(../images/bg_02.gif); MARGIN-LEFT: 5px; WIDTH: 89px; PADDING-TOP: 8px; HEIGHT: 29px;
}
.index_b {
	PADDING-LEFT: 25px; BACKGROUND-IMAGE: url(../images/bg_03.gif); WIDTH: 1000px; COLOR: #ffffff; PADDING-TOP: 10px; HEIGHT: 31px; TEXT-ALIGN: left;
}
.index_b1 {
	BORDER-RIGHT: #b8bebe 0px solid; BORDER-LEFT: #b8bebe 0px solid; WIDTH: 1000px; BORDER-BOTTOM: #b8bebe 0px solid; background-image:url(n_index_36.jpg); height:75px;
}
.index_b2 {
	FLOAT: left; WIDTH: 232px;
}
.index_b2_1 {
	FLOAT: left; WIDTH: 182px; HEIGHT: 21px;
}
.index_b2_2 {
	FLOAT: left; WIDTH: 50px; COLOR: #ff6600;
}
.index_b3 {
	FLOAT: left; BACKGROUND-IMAGE: url(bg_04.gif); MARGIN-LEFT: 5px; WIDTH: 64px;HEIGHT: 26px; TEXT-ALIGN: center;
}
.index_b4 {
	FLOAT: left; BACKGROUND-IMAGE: url(bg_05.gif); MARGIN-LEFT: 5px; WIDTH: 64px;HEIGHT: 26px; TEXT-ALIGN: center;
}

.bottom {
	height:7px;
	width:986px;
	background-image:url(n_index_36.jpg);
	background-repeat:no-repeat;
	float:left;
}

