div.sdmenu {
	width: 169px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 10px;
	color: #000;
}
div.sdmenu div {
	background: url(toptitle.gif) no-repeat;
	overflow: hidden;
}
div.sdmenu div:first-child {
	background: url(toptitle.gif) no-repeat;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	color: ff0000;
	background: url(expanded.gif) no-repeat 10px center;
	cursor: default;
}
div.sdmenu div.collapsed span {
	background-image: url(collapsed.gif);
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #fff;
	display: block;
	color: #333;
}
div.sdmenu div a.current {
	background : #ccc;
}
div.sdmenu div a:hover {
	background : #ddd url(linkarrow.gif) no-repeat right center;
	color: #333;
	text-decoration: none;
}